@media(min-width: 1200px){
	.main-slider .bx-controls-direction{
	  width: 1140px;
	  position: absolute;
	  height: 380px;
	  top: 0;
	  left: 50%;
	  margin-left: -570px;
	}
	.catalog-category .col-lg-2{
		width: 20%;
	}
	.center-content .col-lg-2{
		width: 20%;
	}
}

@media(max-width: 1199px){
	.slider-wrapp{
		padding-right: 30px;
	}
	.bx-wrapper .bx-next{
		right: 20px;
	}
	.menu-child{
		width: 710px;
	}
	.bx-wrapper .bx-prev{
		left: 10px;
	}
}

@media(max-width: 991px){
	.logo{
		float: none;
		text-align: center;
	}
	.menu-child{
		width: 490px;
	}
	.hidden-sm{
		display: none !important;
	}
	.top-panel__contact{
		float: none;
		text-align: center;
	}
	.main-menu .catalog{
		padding-left: 20px;
	}
	.basket-table{
		overflow-x: auto;
	}
	.list_item{
		width: 750px;
	}
	.catalog__item-list{
		overflow-x: auto;
	}
	.basket-table table{
		width: 960px;
	}
	.review__text{
		padding: 10px;
	}
	.up-button{
		bottom: 150px;
		right: 50px;
	}
	.basket-total{
		text-align: center;
	}
	.total-sum{
		margin-bottom: 15px;
	}
	.get-order-link{
		float: none;
		margin: auto;
		margin-top: 15px;
	}
	.phone,
	.time,
	.map-link{
		display: inline-block;
		float: none;
		vertical-align: middle;
	}
	.info .sub-menu li a{
		font-size: 12px;
	}
	.info .sub-menu li{
		margin-right: 5px;
	}
	.top-panel__contact{
		height: 55px;
	}
	.map-link{
		padding: 15px 0;
		padding-left: 25px;
	}
	.time{
		height: 50px;
	}
	.phone{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.logo{
		height: 60px;
	}
	.slider-wrapp{
		padding-right: 0;
	}
	.laptop_img{
		width: auto;
	}
	.laptop_desc{
		bottom: 0;
		position: relative;
		padding-top: 30px;
	}
	.laptop_img{
		width: 150px;
		top: 0;
		bottom: auto;
	}
	.laptop_content{
		height: 220px;
	}
	.center-foot{
		padding: 0 25px;
	}
	.copyright{
		padding-left: 0;
	}
	.copyright p{
		text-align: center;
	}
}
@media(min-width: 768px){
	.visible-xs{
		display: none !important;
	}
}
@media(max-width: 767px){
	.hidden-xs{
		display: none !important;
	}
	.card__carousel{
		padding-right: 0;
	}
	.breadcrumb__back{
		float: none;
	}
	.catalog-category{
		padding-left: 0;
		padding-right: 0;
	}
	.view{
		padding-top: 10px;
	}
	.logo__icon{
		font-size: 23px;
	}
	.content{
		position: relative;
	}
	.private-order{
		width: 100%;
	}
	.filter{
		padding-bottom: 0;
	}
	.sorting{
		padding-top: 15px;
		padding-left: 15px;
	}
	.sorting a{
		margin-right: 10px;
	}
	.cabinet-tab .nav-tabs li{
		border: 0;
		padding: 5px;
	}
	.exit{
		position: relative;
		right: 0;
	}
	.content__list{
		margin-left: -10px;
	}
	.sidebar{
		position: inherit;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		display: none;
	}
	.catalog-wrapp{
		position: static;
		padding-left: 0;
	}
	.cabinet-tab .nav-tabs{
		border-bottom: 0;
	}
	.info-order-container{
		padding-left: 0;
	}
	.status-table{
		padding-left: 0;
	}
	.adress-container .col-sm-6{
		margin-bottom: 15px;
	}
	.order-table table,
	.total-table table,
	.status-table table{
		width: 767px;
	}
	.left-input{
		margin-bottom: 10px;
		padding-right: 0;
	}
	.page__title{
		text-align: center;
		font-size: 20px;
	}
	.right-input{
		padding-left: 0;
	}
	.get-title{
		font-size: 16px;
	}
	.card-info{
		margin-top: 20px;
	}
	.text-container-wrapp{
		width: 100%;
	}
	.breadcrumb__menu{
		float: none;
		margin-bottom: 15px;
	}
	.mobile-card-title{
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	.review__text {
		border-top: 0;
		border-bottom: 0;
	}
	.hits__title{
		padding-bottom: 10px;
	}
	.review__btn{
		float: none;
		padding-top: 15px;
	}
	.review__btn a{
		margin: auto;
	}
	.review__text{
		height: auto;
	}
	.review__block{
		padding-left: 20px;
		border-bottom: 0;
		text-align: left
	}
	.card__review{
		position: relative;
		text-align: left;
		margin-bottom: 10px;
	}
	.breadcrumb li{
		margin-bottom: 10px;
	}
	.top-foot li{
		float: none;
		width: auto;
		display: inline-block;
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.subscribe input[type="text"]{
		padding-right: 45px;
	}
	.top-foot{
		text-align: center;
	}
	.slider__info{
		float: none;
		width: 100%;
		padding: 0 20px;
	}
	.slider__small-title{
		font-size: 14px;
	}
	.slider__large-title{
		font-size: 30px;
	}
	.slider__today-price{
		font-size: 25px;
	}
	.slider__info{
		height: auto;
	}
	.bx-controls-direction{
		display: none;
	}
	.card__carousel .bx-controls-direction{
		display: block;
	}
	.mobile-slider__item{
		margin-bottom: 10px;
	}
	.product-content{
		overflow: hidden;
	}
	.product__img_tel{
		right: -95px;
	}
	.item-slider .owl-prev{
		top: -65px;
    left: auto;
    right: 40px;
	}
	.item-slider .owl-next{
		top: -65px;
    left: auto;
    right: 0;
	}
	.hits__title{
		font-size: 20px;
	}
	.center-foot{
		height: auto;
		border-right: 0;
		border-bottom: 1px solid #303030;
		padding: 20px;
	}
	.copyright{
		height: auto;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.top-foot-wrapp{
		height: auto;
		padding: 15px 0;
	}
	.footer .container{
		padding-left: 0;
		padding-right: 0;
	}
	.up-button{
		display: none !important;
	}
}
@media(max-width: 450px){
	.sorting a{
		margin-right: 5px;
		font-size: 13px;
	}
	.sorting{
		padding-left: 10px;
	}
}